<% f = tab[:form] %>
<%= error_messages_for 'ldap_setting' %>
<div class="box tabular settings">
  <p><%= f.text_field :required_group %></p>
  <p><%= f.text_field :fixed_group, :size => 15  %></p>
  <p><%= f.check_box :create_groups, :default => true %></p>
  <p><%= f.check_box :create_users, :default => true %></p>
  <p><%= f.check_box :sync_user_attributes, :default => false %></p>
  <p><%= multiselect f.object, :attributes_to_sync, ['firstname', 'lastname', 'mail'], :size => 15 %></p>
</div>
