<% f = tab[:form] %>
<%= error_messages_for 'ldap_test' %>
<div class="box tabular settings">
  <%= labelled_fields_for f.object.test do |t| -%>
  <p><%= t.label :users %><%= t.text_field :users %>
     <%= t.button l(:button_execute), :name => 'commit', :id => 'commit-test', :value => 'Test', :remote => true %></p>
  <fieldset>
    <legend><%=l(:label_result)%></legend>

    <pre>
      <%= t.object.result %>
    </pre>
  </fieldset>
  <% end -%>
</div>
