<div class="contextual">
<%= change_status_link(@ldap_setting) %>
</div>

<h2><%= link_to l(:label_ldap_servers), ldap_settings_path %> &#187; <%=h @ldap_setting.name %></h2>

<%= labelled_form_for @ldap_setting, :html => {:class => 'tabular'} do |f| -%>

  <%= render_tabs ldap_setting_tabs(f) %>

  <%= submit_tag l(:button_save), :id => 'commit-save' %>
<% end -%>

<% html_title(l(:label_ldap_synchronization)) -%>

<% content_for :header_tags do %>
  <%= javascript_include_tag base_settings_ldap_settings_path(:format => 'js') %>
  <%= javascript_include_tag 'ldap_settings.js', :plugin => 'redmine_ldap_sync' %>
<% end %>